---
layout: default
---

<div class="home">

  <div class="container m-b">

	{% for post in paginator.posts %}
		<div class="section">
			<div class="row">
				<div class="col-md-1 col-sm-1 m-b">
					<h1>{{ post.number }}</h1>
				</div>
				<div class="col-md-11 col-sm-11 m-b">
					<h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
					<p><strong>Objavljeno:</strong> {{ post.date | date: "%-d.%-m.%Y" }}
            | <strong>Dolžina:</strong> {{ post.duration }}
            | <strong>Prenesi: </strong> <a href="{{ post.file }}">mp3</a>
            <!--
              | <strong>Poslušaj: </strong>
              <audio controls>
  							<source src="{{ post.file }}" type="audio/mpeg">Brskalnik ne podpira audio elementa.
  						</audio>
            -->
          </p>
					<p>{{ post.description }}</p>
				</div>
			</div>
		</div>
	{% endfor %}

  {% if paginator.total_pages > 1 %}
		<nav class="pull-right">
  	<ul class="pagination">
  	{% if paginator.previous_page %}
    	<li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
  	{% else %}
    	<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
  	{% endif %}

  	{% for page in (1..paginator.total_pages) %}
    	{% if page == paginator.page %}
      	<li class="active"><a href="#">{{ page }}</a></li>
    	{% elsif page == 1 %}
      	<li><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    	{% else %}
      	<li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    	{% endif %}
  	{% endfor %}

  	{% if paginator.next_page %}
    	<li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  	{% else %}
    	<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
  	{% endif %}
		</ul>
		</nav>
	{% endif %}

	</div>

</div>
