<div class="container">

  <hr>

  <footer>
    <div class="row">
      <div class="col-sm-6">
        <p>&copy; BIMpogovori.si</p>
      </div>
      <div class="col-sm-6">
      </div>

      <div class="col-sm-6">
        <ul class="list-unstyled list-inline list-social-icons pull-right">
          <li class="tooltip-social facebook-link"><a href="https://www.facebook.com/BIMpogovori" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li class="tooltip-social twitter-link"><a href="https://twitter.com/BIMpogovori" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        </ul>
      </div>

    </div>
  </footer>

</div><!-- /.container -->
