
<div class="row">

	<div class="col-sm-3 col-xs-2 m-b">
		<img src="/images/predstavitev-matevž.png" alt="Matevž Dolenc" class="img-responsive img-circle">
	</div>

	<div class="col-sm-3 col-xs-4 m-b">
		<h6 class="text-uppercase">Matevž Dolenc</h6>
		<p>... gradbenik, obvlada Ruby, Python in Condor, nima časa za tek, ... zagovarja OpenBIM in "M" kot model.</p>
		<span class="icon icon-500px-with-circle"><a href="http://matevzdolenc.com"> matevzdolenc.com</a></span><br />
		<span class="icon icon-mail-with-circle"><a href="mailto:matevz@matevzdolenc.com"> matevz@matevzdolenc.com</a></span><br />
		<span class="icon icon-twitter-with-circle"><a href="http://twitter.com/matevzdolenc"> @matevzdolenc</a></span>
	</div>

	<div class="col-sm-3 col-xs-2 m-b">
		<img src="/images/predstavitev-robi.png" alt="Robert Klinc" class="img-responsive img-circle">
	</div>

	<div class="col-sm-3 col-xs-4 m-b">
		<h6 class="text-uppercase">Robert Klinc</h6>
		<p>... potencialno problematičen teoretični gradbenik, obvlada PHP in WP, dela spletne strani, ... zagovarja "M" kot proces.</p>
		<span class="icon icon-mail-with-circle"><a href="mailto:robert@klinc.net"> robert@klinc.net</a></span><br />
		<span class="icon icon-twitter-with-circle"><a href="http://twitter.com/robertklinc"> @robertklinc</a></span>
	</div>

</div>

<div class="row">

	<div class="col-sm-3 m-b">
		<h6 class="text-uppercase">Glasba</h6>
		<p>V oddajah podcasta je uporabljena skladba <a href="http://dig.ccmixter.org/files/grapes/16626">I dunno by grapes - J Lang, Morusque</a>. &copy; 2008 Licensed under a Creative Commons Attribution (3.0) license.</p>
	</div>

	<div class="col-sm-3 m-b">
		<h6 class="text-uppercase">Licenca</h6>
		<p>Podcast BIMpogovori se uporablja z licenco <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</p>
	</div>

	<div class="col-sm-3 m-b">
		<h6 class="text-uppercase">Povezave</h6>
		<a href="/priporocila">Priporočila</a><br />
</div>

	<div class="col-sm-3 m-b">
		<h6 class="text-uppercase">Kontakt</h6>
		<span class="icon icon-mail-with-circle"><a href="mailto:info@bimpogovori.si"> info@bimpogovori.si</a></span><br />
		<span class="icon icon-facebook-with-circle"><a href="http://facebook.com/BIMpogovori"> facebook.com/BIMpogovori</a></span><br />
		<span class="icon icon-twitter-with-circle"><a href="http://twitter.com/BIMpogovori"> @BIMpogovori</a></span>
	</div>

</div>

<div class="row">

	<div class="col-sm-12 m-b">
		<p>&copy; BIMpogovori.si</p>
	</div>

</div>
