---
layout: default
---

<div class="post">
	<div class="container m-b">
		<div class="section">

			<div class="row">
				<div class="col-md-1 col-sm-1 m-b">
					<h1>{{ page.number }}</h1>
				</div>
				<div class="col-md-11 col-sm-11 m-b">
					<h1>{{ page.title }}</h1>
          <p><strong>Objavljeno:</strong> {{ page.date | date: "%-d.%-m.%Y" }}
            | <strong>Dolžina:</strong> {{ page.duration }}
						| <strong>Prenesi: </strong> <a href="{{ page.file }}" onclick="ga('send', 'event', 'mp3', 'download', '{{page.number}}');">mp3</a>
						| <strong>Predvajaj: </strong> <a href="{{ page.youtube }}" onclick="ga('send', 'event', 'youtube', 'play', '{{page.number}}');">YouTube</a>
              <!--
                <br /><strong>Poslušaj: </strong>
                <audio controls>
							    <source src="{{ page.file }}" type="audio/mpeg">Brskalnik ne podpira audio elementa.
						    </audio>
              -->
          </p>

					<p>{{ page.description }}</p>

					<!--
					<p><strong>Poslušaj:</strong>
						<audio controls="controls">
							<source src="{{ page.file }}" type="audio/mpeg">Brskalnik ne podpira audio elementa.
						</audio>
					</p> -->

						{{ content }}

				</div>
			</div>
		</div>

	</div>
</div>
